<template>
    <div class="slds-form-element slds-m-bottom_medium">
        <div class="slds-form-element__control">
           <lightning-input required type="text" value={firstNamePattern} label="First Name"
                            onchange={handleFirstName} name="First Name" autocomplete="off">
           </lightning-input>
        </div>
    </div>
    <button
                class="slds-button slds-float--none slds-m-top_medium slds-m-bottom_medium  slds-button_brand slds-button_stretch"
                onclick={handleCreate}><span><svg
                        class="slds-button__icon slds-button__icon_left slds-m-bottom_xx-small" aria-hidden="true">
                        <use href="/_slds/icons/utility-sprite/svg/symbols.svg#save"></use>
                    </svg><strong>Create</strong></span></button>
</template>